body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
html, body {
    height: 100%;
}
.head{
    width: 100%;
    height: 100%;
}
.wrapper{
    background: url('Images/hero.jpg') no-repeat center center fixed;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;

}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .wrapper {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
.topnav {
    z-index: 1;
    padding: 3% 10%;
    overflow: hidden;
}
.content{
    display: block;
    position: relative;
    width: 70%;
    text-align: center;
    margin: 5% auto;
}
.firstpar{
    padding-bottom: 20px;
    color:#fff;
    font-size: 30pt;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:15px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
.myButton:active {
    position:relative;
    top:1px;
}
.secpar{
    padding-bottom: 20px;
    padding-top: 20px;
    color:#fff;
    font-size: 15pt;
}
.thirdpar{
    padding-bottom: 20px;
    color:#fff;
    font-size: 15pt;
    padding-bottom: 10px;
}
.content hr{
    width: 250px;
    margin: auto;

}
.a {
    z-index: 1;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body > div > div.topnav > a.img > img{
    padding-top: 15px;
}
.ab {
    z-index: 1;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: #000;
}

.topnav a.ab {
    color: red;
}
.secpage{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    background-size: cover;
    overflow: hidden;
}
.left-content{
    position: relative;
    float: left;
    width: 40%;
    padding: 7%;
}

.left-content hr{
    width: 50%;
}

.l-firstpar{
    font-size: 32pt;
    padding-bottom: 50px;

}
.l-secpar{
    padding-top: 50px;
    font-size: 14pt;
    padding-bottom: 60px;
}
.playvideo{
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.btn{
    position: relative;
    display: block;
    float: right;
    width: 20%;
    height: 100%;
}
.seethevideo{
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 16pt;
}
.right-content{
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
}
.r-img{
    position: relative;
    margin-top: 10%;
    width: 100%;
    min-height: 80%;
}
